@import '~common/style/vars';
@import '~web/ui/common/style/vars';
@primary-color: @color-theme;
@body-background: @bg-body;

.text-color-l {
  color: @text-color-l;
}
.text-red {
  color: @color-red;
}
.text-green {
  color: @color-green;
}

body {
  overflow: hidden;
}