<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>[易收银] 请查收您的验证码</title>
  </head>
  <body>
    <p>您好，<%= email %>！</p>
    <p>您当前正在<%= body %>，您的邮箱验证码是：<%= code %>。</p>
    <p>如果不是您本人操作，请忽略这则邮箱消息。</p>
    <p>感谢</p>
    <p>易收银平台</p>
  </body>
</html>
