@import '~common/style/vars';

.caption {
  @h: 46px;
  height: @h;
  line-height: @h;
  font-size: @text-df;
  font-weight: 600;
  color: @text-color-d;
  background: @bg-card;
  padding: 0 @margin-sm;
  position: relative;
  border: 1px solid @border-color;

  &-prefix {
    float: left;
    height: @h;
    line-height: @h;
    text-align: center;
    margin-right: @margin-sm;
  }

  &-extra {
    float: right;
    height: @h;
    display: flex;
    align-items: center;
  }
}
