@import '~common/style/vars';

.caption {
  height: @item-height-df;
  line-height: @item-height-df;
  font-size: @text-df;
  font-weight: 600;
  color: @text-color-d;
  background: @bg-card;
  padding: 0 @margin-sm;
  box-shadow: 0 0 1px @shadow-color-l;
  position: relative;

  &-prefix {
    float: left;
    height: @item-height-df;
    line-height: @item-height-df;
    text-align: center;
    margin-right: @margin-sm;
  }
}
