@import 'vars';
@import 'mixs';
@import 'layout';
@import 'animate';
@import '~ionicons/dist/css/ionicons.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: @text-color;
  background: @bg-body;
  font-size: @text-df;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
}

ul, ol, dl, p,
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: @text-xxl;
}
h2 {
  font-size: @text-xl;
}

a {
  text-decoration: none;
}

.create-margin(margin);
.create-margin(margin-top);
.create-margin(margin-left);
.create-margin(margin-right);
.create-margin(margin-bottom);
.create-margin(margin-tb, margin-top, margin-bottom);
.create-margin(margin-lr, margin-left, margin-right);

.create-margin(padding);
.create-margin(padding-top);
.create-margin(padding-left);
.create-margin(padding-right);
.create-margin(padding-bottom);
.create-margin(padding-tb, padding-top, padding-bottom);
.create-margin(padding-lr, padding-left, padding-right);

.create-solid(top);
.create-solid(left);
.create-solid(right);
.create-solid(bottom);
.create-solid(tb, top, bottom);
.create-solid(lr, left, right);

.flex-sub { flex: 1 }
.flex-twice { flex: 2 }
.flex-trible { flex: 3 }

.text-bold { font-weight: 600 }

.fl { float: left }
.fr { float: right }
.fc::after {
  content: '';
  display: block;
  clear: both;
}
